
@{
    ViewBag.Title = "DanB Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanB Index</h2>

@Html.ActionLink("Sweeper", "index", "sweeper", new { area = "Danb" }, null)<br/>

@Html.ActionLink("Conway's Game of Life", "conway", "sweeper", new { area = "Danb" }, null)<br />



